  <div class="sidebar">
    <div class="container sidebar-sticky">
      <div class="sidebar-about">
        <h1>Nick Liffen</h1>
        <p class="lead">This is where I share my experiences</p>
      </div>
      <nav aria-label="Main navigation">
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item active">
          <a href="/">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a href="https://github.com/nickliffen">GitHub Profile</a>
        </li>
      </ul>
      </nav>
      <p>&copy; <%= new Date().getFullYear() %>. All rights reserved.</p>
    </div>
  </div>
